<div class="login-wrapper">
    <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" [hidden]="submitted">
        <div class="login-group">

            <input class="username" type="text" id="login_username" formControlName="username" placeholder="Username">

            <input class="password" type="password" id="login_password" formControlName="password" placeholder="Password">
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div>
            <div><button type="submit" class="btn btn-primary">LOG IN</button></div>
            <a routerLink="/register" routerLinkActive="active"><button type="submit" class="btn btn-success">REGISTER</button></a>
            <div><button type="submit" (click)="loginWithGoogle()" class=" btn btn-danger ">LOG IN WITH GOOGLE</button></div>
        </div>
    </form>
</div>